/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
root { 
    display: block;
    -fx-background-color: #262626;
}
.root {
-fx-background-image: url("background.jpg");
}
.label {
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-font-family: "Stencil Std";
    -fx-font-weight: 500;
}

#welcome-text {
   -fx-font-size: 56px;
   -fx-font-family: "Stencil Std";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight : 800;
    
}
.table-view .column-header-background{
    -fx-background-color: #6C7AE0;
    -fx-text-fill: white;
     -fx-font-family: "Arial Narrow";
    -fx-background-radius: 3px 7px 3px 3px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill : white;
    -fx-font-weight : 800;
}


.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 3 2 20px;
     -fx-text-fill: black;
    -fx-font-family: "Stencil Std";
     -fx-font-weight: 600;
     
  
    
}

#grille {
	-fx-background-color:  linear-gradient(#f0ff35, #a9ff00);
	
}